@charset "UTF-8";

body {
    background-color: black;
}

div#espcont {
    border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    padding: 100px;
    display: inline;
    opacity: 0;
}

div#eliti {
    position: absolute;
    margin: 450px 300px 10px 200px;
    
}

div.quad {
    background-color: white;
    width: 55px;
    padding-bottom: 55px;
}
