@charset "UTF-8";

/*Base do site*/
* {
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;  
    background-color: black;
}
/*Container de cima*/
#pdecima {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    min-height: 50vh;
}

#areadecontagem {
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 100%;
    height: 40vh;
    width: 28vw;
}

.flecha {
    height: 25vh;
    width: 20vw;
}

#contagem {
    font-size: 8vh;
}

/*Container de baixo*/
#pdebaixo {
    display: flex;
    place-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
}

#basebotaozerar {
    display: flex;
    background-color: #888888;
    border-radius: 100%;
    width: 16vw;
    height: 28vh;
}

.botoesbase {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 9vw;
    height: 15vh;
    background-color: #888888;
}

.botoes {
    background-color: crimson;
    border-radius: 100%;
    width: 80%;
    height: 80%;
}
