@charset "UTF-8";

/*Preparando a base do site*/
* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
}

img {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 25%;
    width: 50%;
    height: auto;
    display: block;
}

#containerbaixo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

#containeracima {
    position: absolute;
    width: 100%;
    height: 50%;
}

#areadecontagem {
    position: absolute;
    margin: 3% 0 0 35%;
    border-radius: 80%;
    width: 30%;
    height: 75%;
    background-color: white;
}

/*Flechas*/
#flechaesquerda {
    position: absolute;
    margin: 0 0 7% 6%;
    width: 19%;
    height: 36%;
}

#flechadireita {
    position: absolute;
    margin: 0 0 7% 74.8%;
    width: 19%;
    height: 36%;
}

/*Botões*/
.basebotoes {
    position: absolute;
    background-color: grey;
    border-radius: 100%;
    width: 6%;
    height: 20%;
}

#zerarcontador {
    position: relative;
    margin: 5% 0 0 2%;
    background-color: grey;
    border-radius: 100%;
    width: 22%;
    height: 69%;
}

#botaodescontabilizador {
    top: 19%;
    right: 17%;
}

#botaocontabilizador {
    top: 55%;
    right: 17%;

}

#botaoduplicar {
    top: 19%;
    right: 6%;
}

#botaometade {
    top: 55%;
    right: 6%;
}
